.Card {
    display: inline-block;
    width: 100%;
    
    .CardText {
        float: left;
        margin-left: 2em;
    }
    img {
        float: left;
        margin-left: 2em;
        height: 12em; 
        width: 12em;
    }
}