.HomePage {

    .home-banner {
        height: 14em;
        width: 100%;
        margin-bottom: 2em;
        background-color: #a59a2a63;

        .home-logo {
            height: 10em;
            width: 14em;
            margin: 2em;
            margin-right: 4em;
        }

        a {
            margin-left: 4em;
        }

    }
}