.HomePage {

    .home-banner {
        height: 14em;
        width: 100%;
        margin-bottom: 2em;

        .home-logo {
            height: 10em;
            width: 14em;
            margin: 2em;
        }

        button {
            margin-left: 2em;
        }

    }
}