.HomePage {
    
    .EnterProductButton {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: 2em;
        margin-top: 2em;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 2em;
    }
}