html {
    background-color: #a59a2a63;
}

.spinner-border {
    position: fixed;
    top: 50%;
    left: 50%;
}

@import 'features/Home/Home.scss';
@import 'features/Home/CardBootstrap.scss';
@import 'features/EnterProduct/EnterProduct.scss';
@import 'features/ModifyProduct/ModifyProduct.scss';
